.listContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0rem 2rem;
}

.noRecordsHeader {
    background-color: white;
    color: black;
    padding: 2rem 0rem;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-top: 2rem;
}