.widgetContainer {
    width: 100%;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    cursor: pointer;
}

.widgetContainer * {
    background-color: white;
    color: black;
    cursor: pointer;
}

.recordNameHeader {
    text-transform: capitalize;
}