.post {
    position: relative;
    width: 48%;
    padding: 2rem;
    border: 2px solid #282829;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    border-radius: 10px;
}

.post:hover {
    border: 2px solid white;
    box-shadow: 0px 0px 1rem white;
    cursor: pointer;
    transition: 0.3s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    letter-spacing: 1px;
    text-transform: capitalize;
}


.mainContent {
    flex-grow: 2;
    margin: 2rem 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid white;
    padding-top: 1rem;
}

.information>* {
    width: 33%;
    text-align: center;
}

.authorImage {
    width: 3rem;
    min-height: 3rem;
    max-height: 10rem;
    margin-right: 0.5rem;
    border: 2px solid white;
    border-radius: 50%;
}

.comments {
    font-size: 1.1rem;
}

.iconComments {
    margin-right: 0.7rem;
}

.author {
    border: 2px solid rgba(255, 255, 255, 0.189);
    border-radius: 10px;
    transition: linear 0.3s;
    padding: 1rem;
}

.author:hover {
    border: 2px solid white;
    transition: linear 0.3s;
}

.likeRowContainer {
    display: flex;
    justify-content: center;
    width: 20%;
}