.navbarContainer {
    border-bottom: 1px solid white;
    background-color: #1e222d;
    display: flex;
    padding: 0.5rem 3rem;
}

.navLink {
    text-decoration: none;
}

.logoWrapper {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbarLogo {
    font-size: 4.6vh;
    letter-spacing: 0.3rem;
    padding: 0.5rem 0.8rem;
    transition: 0.5s;
    margin: 0px;
}

.navButtonsContainers {
    padding-left: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages {
    display: flex;
    width: 100%;
}

.pages>* {
    margin-left: 2vw;
}

.userPanel>* {
    margin-left: 2vw;
}

.logiRegisterContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbarListItems {
    font-size: 2.4vh;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
    border: 3px solid #4a4b4e;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    transition: linear 0.3s;
}

.navbarListItems:hover {
    color: #1e222d;
    border: 3px solid white;
    border-radius: 0.5rem;
    background-color: white;
    transition: linear 0.3s;
}

