.navbarContainer {
    border-bottom: #7160e8 solid 2px;
    background-color: #1e222d;
    display: flex;
    padding: 0.5rem 3rem;
}

.navLink {
    text-decoration: none;
}

.navbarLogo {
    letter-spacing: 0.4rem;
    padding: 0.5rem 0.8rem;
}
.navbarLogo:hover {
    color: #7160e8;
    transition: 0.5s;
}

.navbarList {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: space-evenly;
    width: 60%;
}

.navbarListItems {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
    border: 3px solid #4a4b4e;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    transition: ease-out 1s;
}

.navbarListItems:hover {
    color: #7160e8;
    border: 3px solid white;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.activeLink {
    color: #7160e8;
}
