.booksSection {
    margin: 1rem 2rem;
}

.bookSectionHeader {
    border-bottom: 3px solid white;
    padding-left: 1rem;
    letter-spacing: 1px;
}

.bookListContainer {
    margin: 0rem 3rem;
    margin-top: 2rem;
}