.commentWidget {
    width: 100%;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 20px;
}

.commentWidget * {
    background-color: white;
    color: black;
}

.commentHeader {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.commentHeader * {
    cursor: pointer;
    margin-left: 0;
}

.commentAuthorEmail {
    color: grey;
    margin-left: 0.7rem;
}

.commentContent {
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.commentFooter {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.postedOnContainer {
    color: black;
}

.authorSection {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.authorSection button {
    border-radius: 20px;
    border: none;
    padding: 0.6rem 1.4rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;    
}

.authorSection button:hover {
    transition: 0.3s ease-in-out;
    transform: scale(107%);
}

.editCommentButton, .editCommentButton *{
    background-color: #ffca28;
}

.removeCommentButton, .removeCommentButton *{
    background-color: #ce0202;
    color: white;
}

.commentTextArea {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 6px;
}

.buttonSendContainer {
    margin-top: 1rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.buttonSend {
    padding: 0.4rem 1.5rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.buttonSend, .buttonSend * {
    background-color: white;
    color: black;
    transition: 0.4s ease-in-out;
}

.buttonSend:hover, .buttonSend:hover * {
    background-color: black;
    color: white;

    transition: 0.4s ease-in-out;
}