
.profilePageContainer {
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imageContainer {
    width: 13rem;
    background-color: #1e222d;
    border-radius: 50%;
    padding: 2rem;
    z-index: 1;
}

.imageContainer img {
    min-height: 8.5rem;
    max-height: 15rem;
    width: 100%;
    border: 5px solid white;
    border-radius: 50%;
    background-size:cover
}

.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding: 2rem 3rem;
    padding-top: 7rem;
    position: relative;
    bottom: 6rem;
}

.profileInfo * {
    background-color: white;
    color: black;
    text-align: center;
}

.userName {
    margin-bottom: 0.1rem;
}

.emailContainer{
    margin-bottom: 2rem;
}

.email {
    color: grey;
}

.description>* {
    font-size: 1.5rem;
}

.userPrivateZoneHeading {
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    font-size: 6vh;
    letter-spacing: 1px;
    text-align: center;
}

.editContainer {
    margin-top: 3.5rem;
    border-bottom: 2px solid white;
    padding-bottom: 4rem;
}

.editHeadingContainer {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.editHeadingContainer * {
    font-size: 4vh;
}

.editHeadingText {
    margin: 0px;
    margin-right: 1rem;
}