.widgetContainer {
    width: 100%;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    display: flex;
}

.widgetContainer * {
    background-color: white;
    color: black;
    cursor: pointer;
}

.recordInfo {
    width: 50%;
}

.recordNameHeader {
    text-transform: capitalize;
}

.openPositionsRecordButtonContainer {
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
    width: 50%;
}

.openPositionsRecordButton {
    border-radius: 10px;
    padding: 0.5rem 1.5vw;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid black;
    background-color: lightgrey;
    transition: 0.2s ease-in-out;
}

.openPositionsRecordButton:hover {
    background-color: green;
    color: white;
    transition: 0.2s ease-in-out;
}

.changeNamePositionsRecordButton {
    border-radius: 10px;
    padding: 0.5rem 1.5vw;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid black;
    background-color: lightgrey;
    transition: 0.2s ease-in-out;
}

.changeNamePositionsRecordButton:hover {
    background-color: rgb(224, 146, 0);
    color: white;
    transition: 0.2s ease-in-out;
}

.deletePositionsRecordButton {
    border-radius: 10px;
    padding: 0.5rem 1.5vw;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid black;
    background-color: lightgrey;
    transition: 0.2s ease-in-out;
}

.deletePositionsRecordButton:hover {
    background-color: rgb(200, 0, 0);
    color: white;
    transition: 0.2s ease-in-out;
}