.goToTopButton {
    border-radius: 50%;
    position: fixed;
    right: 0.5rem;
    bottom: 1rem;
    padding: 1.2rem 1.2rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    transition: 0.3s ease-in-out;
    font-size: 1.5rem;
}

.goToTopButton:hover {
    transition: 0.3s ease-in-out;
    background-color: white;
    color: black;
    border: 3px solid black;
}

.goToTopButton * {
    transition: 0.3s ease-in-out;
    background-color: black;
    color: white;
}

.goToTopButton:hover * {
    transition: 0.3s ease-in-out;
    background-color: white;
    color: black;
}