.post {
    margin: 4rem;
    padding: 2rem;
    box-shadow: 0px 0px 2.7rem 0.2rem white;
    border-radius: 1rem;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    padding-left: 2vw;
}

.ownerButtonSection {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}

.button {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 0.6rem 2.2rem;
    transition: ease-out 0.3s;
}

.button * {
    font-size: 1.2rem;
    letter-spacing: 0.7px;
    background-color: white;
    color: black;
    transition: ease-out 0.3s;
}

.iconLeftArrow, .iconEdit, .iconDelete {
    margin-right: 0.5rem;
}

.editButton {
    border: 2px solid white;
}

.editButton:hover, .editButton:hover *{
    background-color: #1e222d;
    color: white;
    transition: ease-out 0.3s;
}

.deleteButton:hover, .deleteButton:hover *{
    background-color: rgb(206, 2, 2);
    color: white;
    transition: ease-out 0.3s;
}

.backText {
    font-weight: 600;
    padding-bottom: 0.1rem;
}

.postImage {
    width: 70%;
    border: 2px solid white;
    border-radius: 1rem;
    margin-bottom: 2rem;
    max-width: 80vh;
}

.postContent {
    margin: 2rem;
}

.title {
    letter-spacing: 1px;
    margin-bottom: 2rem;
    font-size: 6vh;
    text-transform: capitalize;
}

.content {
    font-size: 3.6vh;
    letter-spacing: 1px;
    line-height: 7vh;
    overflow-wrap: break-word;
}

.postsLikeWidgetContainer {
    display: flex;
    justify-content: center;
    margin: 5rem 0rem;
}

.postsLikeWidget {
    width: 14rem;
    justify-content: center;
    font-size: 2.7rem;
}

.information {
    border-top : 2px solid white;
    margin-top: 2rem;
    padding-top: 2rem;
}

.author {
    font-size: 2rem;
}

.authorImage {
    width: 8rem;
    min-height: 8rem;
    max-height: 13rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 4px solid white;
}

.postedOn {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.authorImage:hover {
    cursor: pointer;
}

.authorName:hover {
    cursor: pointer;
}

.commentsHeaderContainer {
    display: flex;
    align-items: center;
}

.commentsHeader {
    width: 50%;
    padding-left: 0.8rem;
    padding-bottom: 1.2rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    margin-right: 2rem;
    border-bottom: 2px solid white;
}

.addCommentButton {
    font-size: 1.2rem;
    padding: 0.7rem 3.5rem;
    border: 2px solid white;
    border-radius: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

.addCommentButton, .addCommentButton *{
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}

.addCommentButton:hover, .addCommentButton:hover *{
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
}

.iconAddComment {
    margin-right: 1rem;
}

.commentsListContainer {
    margin: 2rem 6rem;
}

.loadMoreContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.loadMoreButton {
    color: grey;
    border: 2px solid grey;
    border-radius: 15px;
    transition: 0.3s ease-out;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
}

.loadMoreButton:hover {
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-out;
}