.editPageContainer {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.editContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 5vw;
}

.editForm {
    position: sticky;
    top: 8vh;

    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

    width: 100%;
    background-color: white;
    border-radius: 20px;

    padding: 4vh 4vw;
}

.editForm * {
    background-color: white;
    color: black;
}

.editLabelContainer {
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 4vh;
}

.editLabel {
    margin-bottom: 1rem;
}

.formGroup {
    display: flex;
    align-items: center;
    margin: 2vh 0vw;
    width: 100%;
}

.formHeading h5 {
    font-size: 1.5vw;
    margin: 0px;
}

.formHeading {
    width: 30%;
}

.inputField {
    border: 2px solid #1e222d3d;
    display: inline-block;
    padding: 1vh 1vw;
    width: 70%;
    font-size: 1.5vw;
    position: relative;
}

.inputField:focus {
    border: 2px solid #1e222d;
}

.chooseFileText{
    margin: 0px;
}

.fileInput::-webkit-file-upload-button {
    cursor: pointer; 
}

.fileInput {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.submitButtonContainer {
    width: 100%;
    padding: 7vh 0vw 2vh 0vw;
}

.submitButton {
    width: 100%;
    padding: 0.8vh 0.8vw;
    font-size: 24px;
    font-weight: 700;
    border: none;
    letter-spacing: 1px;
    border-radius: 1vh;
    border: 0.2rem solid #1e222d21;
    transition: linear 0.5s;

}

.submitButton:hover {
    cursor: pointer;
    background-color: #1e222d;
    color: white;
    border-radius: 1vh;
    transition: linear 0.3s;
}

.editAside {
    width: 35%;
    position: sticky;
    height: 5px;
    top: 15vh;
}

.errorsHeadingContainer {
    border-bottom: 2px solid white;
    margin-bottom: 3vh;
}

.errorsHeading {
    text-align: center;
    margin-bottom: 2vh;
}

.errorsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}