.main {
    padding: 3rem;
}

.overviewSection {
    display: flex;
    height: 700px;
    width: 100%;
    padding: 0rem 2rem;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, 1);
}

.overviewText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.overviewText * {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 2rem;
    margin: 0px;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation: showOverviewText 1s linear;
    animation-iteration-count: 1s;
    animation-fill-mode: forwards;
}

.observeDiv {
    animation-delay: 1s;
}

.planDiv {
    animation-delay: 2.2s;
}

.executeDiv {
    animation-delay: 3.5s;

}

@keyframes showOverviewText {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.overviewText .observeDiv {
    font-size: 8.7vw;
}

.overviewText .planDiv {
    font-size: 7vw;
}

.overviewText .executeDiv {
    font-size: 3vw;
    margin-top: 1.5rem;
}