.pageContainer {
    padding-top: 5vh;
}

.changeSectionContainer {
    display: flex;
    justify-content: center;
}

.changeContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 3rem;
    position: sticky;
    height: 41rem;
    top: 12rem;
}

.changeForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;

    padding: 2vh 4vw;
}

.changeForm * {
    background-color: white;
    color: black;
}

.changeLabelContainer {
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.changeLabel {
    margin-bottom: 1rem;
}

.formGroup {
    display: flex;
    align-items: center;
    margin: 0.5rem 0rem;
    width: 100%;
}

.formGroup div {
    width: 35%;
}

.formGroup div h5 {
    font-size: 1.3rem;
    margin: 0px;
}

.inputField {
    border: 2px solid #1e222d5c;
    border-radius: 10px;
    display: inline-block;
    padding: 0.5rem 1rem;
    width: 65%;
    font-size: 1.3rem;
}

.inputField:focus {
    border: 2px solid #1e222d;
}

.submitButtonContainer {
    width: 100%;
    padding: 2rem 0rem 1rem 0rem;
}

.submitButton {
    width: 100%;
    padding: 0.8vh 0.8vw;
    font-size: 24px;
    font-weight: 700;
    border: none;
    letter-spacing: 1px;
    border-radius: 10px;
    border: 0.2rem solid #1e222d21;
    transition: linear 0.5s;

}

.submitButton:hover {
    cursor: pointer;
    background-color: #1e222d;
    color: white;
    border-radius: 10px;
    transition: linear 0.3s;
}

.changeAside {
    width: 35%;
}

.errorsHeadingContainer {
    border-bottom: 2px solid white;
    margin-bottom: 1.5rem;
}

.errorsHeading {
    text-align: center;
    margin-bottom: 1rem;
}

.errorsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.button {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    transition: ease-out 0.3s;
}

.button * {
    font-size: 1.2rem;
    letter-spacing: 0.7px;
    background-color: white;
    color: black;
    transition: ease-out 0.3s;
}