
.wrapper {
    padding: 1rem;
}

.explorerSection {
    position: relative;
    top: -4rem;
}

.discoverHeading {
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 3rem;
}

.discoverSubHeading {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid white;
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}


.createPostContainer {
    display: inline-block;
    background-color: transparent;
    position: sticky;
    top: 5rem;
    z-index: 1000;
}

.addPostButton {
    background-color: white;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    transition: ease-out 0.3s;
    font-size: 3rem;
    padding: 0.5rem 0.5rem;
}

.addPostButton:hover {
    transition: ease-out 0.3s;
}

.addPostButton * {
    background-color: white;
    color: #1e222d;
    border-radius: 50%;
}

.addPostText {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: transparent;
    transition: ease-out 0.3s;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0.1rem;
}

.addPostButton:hover>.addPostText {
    transition: ease-out 0.3s;
    width: 10rem;
}

.postsListContainer {
    margin: 0rem 2rem;
}

.loadMoreContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.loadMoreButton {
    color: grey;
    border: 2px solid grey;
    border-radius: 15px;
    transition: 0.3s ease-out;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
}

.loadMoreButton:hover {
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-out;
}
