
.aboutContainer {
    display: flex;
    text-align: center;
    gap: 1.6rem;
}

.aboutUsHeading {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    margin-top: 4rem;
    text-align: center;
}

.sectionHeading {
    font-size: 2.5rem;
}

.aboutSection {
    background-color: white;
    padding: 1.5rem 2rem;
    margin: 2rem 0rem;
    flex: 1;
    border-radius: 20px;
}

.aboutSection * {
    color: black;
    background-color: white;
}

.aboutSection h1 {
    margin-bottom: 2rem;
}

.aboutParagraph {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}