
.aboutContainer {
    display: flex;
    text-align: center;
    gap: 2vw;
}

.aboutUsHeading {
    font-size: 3.5vw;
    margin-bottom: 2rem;
    text-align: center;
}

.sectionHeading {
    font-size: 2.5vw;
}

.aboutSection {
    background-color: white;
    padding: 1.5rem 3rem;
    margin: 2rem 0rem;
    flex: 1;
    border-radius: 20px;
}

.aboutSection * {
    color: black;
    background-color: white;
}

.aboutSection h1 {
    margin-bottom: 2rem;
}

.aboutParagraph {
    font-size: 1.5vw;
    letter-spacing: 0.5px;
}