.errorContainer {
    margin: 1vh 1vw;
}

.errorMessageRed, .errorMessageGreen, .errorMessageYellow {
    padding: 1rem 1.8rem;
    border-radius: 1rem;
    border: 2px solid white;
    text-transform: capitalize;
    transition: linear 0.3s;
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: 1px;
}

.errorMessageRed {
    color: while;
    background-color: rgb(171, 1, 1);
}

.errorMessageGreen {
    color: while;
    background-color: green;
}

.errorMessageYellow {
    color: while;
    background-color: rgb(164, 164, 3);
}