.journalContainer {
    margin: 2rem 6rem;
    padding: 1rem 4rem ;
    background-color: white;
    border-radius: 20px;
}

.journalContainer * {
    color: black;
    background-color: white;
}


.title {
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    font-size: 2.3em;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
}

.postedOnContainer {
    margin: 0;
    margin-left: 1rem;
    color: grey;
}

.journalText {
    margin-top: 2rem;
    letter-spacing: 1px;
}

.journalText p {
    font-size: 1.1rem;
}

.backButtonNewsJournal {
    position: fixed;
    left: 3.8rem;
    top: 10rem;
    padding: 0.5rem 0.9rem;
    border-radius: 100px;
    border: 2px solid white;
    font-size: 1.5rem;
    background-color: #1e222d;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.backArrowButtonNewsJournal {
    color: white;
    background-color: #1e222d;
}

.backArrowButtonNewsJournal>* {
    background-color: #1e222d;
    color: white;
}

.backText {
    background-color: #1e222d;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    transition: ease-out 0.5s;
    display: inline-block;
    width: 0;
}

.backButtonNewsJournal:hover>.backText {
    transition: ease-out 0.5s;
    width: 7rem;
    padding-left: 0.7rem;
}

